[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "zlog"]
	path = zlog
	url = https://github.com/HardySimpson/zlog
[submodule "WinZlog"]
	path = WinZlog
	url = git@github.com:lopsd07/WinZlog.git
