name: ci

on:
  push:
    branches: [main]
    paths-ignore: ['**.md']
  pull_request:
    branches: [main]
    paths-ignore: ['**.md']
  workflow_dispatch:

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout [${{ github.repository }}]
      uses: actions/checkout@v3
      with:
        ref: main
        submodules: true

    - name: Build zlog
      run: |
        cd zlog
        make PREFIX=$PWD/build
        make PREFIX=$PWD/build install
        ls -lh build/{bin,include,lib}

    - name: Build [${{ github.repository }}]
      run: |
        cmake -S . -B build
        cmake --build build
        ls -lh build

    - name: Run
      run: |
        cd build
        echo '```shell' >> "$GITHUB_STEP_SUMMARY"
        {
          for i in {1..5}; do
            echo "Run $i"
            ./spdlog-vs-zlog
            echo
            wc /tmp/spdlog*
            wc /tmp/zlog*
            rm /tmp/{spdlog,zlog}*
            echo
          done
        } | tee -a "$GITHUB_STEP_SUMMARY"
        echo '```' >> "$GITHUB_STEP_SUMMARY"
